*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"cabin";
    scroll-behavior: smooth;
}


:root{
    --clr-yellow:#F7CF1C;
    --clr-blue:#597CEB;
    --clr-purple:#A555EC;
    --clr-text:#050C10;
    --clr-bg:#FFFEF5;    


}


.darkmode{
    --clr-textdark:#EFF6FA;
    --clr-bgdark:#0A0900;
    --clr-bluedark:#1436A3;
    --clr-yellowdark:#E2BA08;
    --clr-purpledark:#6313AA;

}



body html{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    display:none;
}

html{
    background-color:var(--clr-bg);
    z-index:1;
}



.navbar, .hero-container ,.origin-header ,.goals-and-plans-container, .members-header , .members-cards-container {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left:0.5rem;
    padding-right:0.5rem;  
}

.hero{
    height:100vh;
    width:100vw;
    background-color: var(--clr-bg);
    z-index:5;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo svg{
    transform: scale(1.5);
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom:2px solid black;
    padding:2rem 2rem 2rem 8rem;
    width:100%;
}

.navbar ul{
    display: flex;
    gap:2em;
    list-style:none;
    float:right;
}

.navlinks{
margin-right:2em;
}
.navbar a{
    font:cabin;
    text-decoration: none;
    color:var(--clr-text);
    font-size: 1.5rem;
    text-transform:lowercase;
}

.navbutton{
    background-color: transparent;
    border:2px solid black;
    border-radius:180px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:0.2rem;
    
}
.navbutton svg{
    width:20px;

}
.hero-container{
    display:flex;
    justify-content: center;
}
.hero-content{
    text-align:center;
}
.hero-title{
    margin-top:-6rem;
    font-size:4rem;
}


.hero-text{
    margin-top:0.5rem;
    line-height:2rem;
    width:40ch;
    font-size:1.875rem;
}

.hero-button-row{
    display:flex;
    justify-content: center;
    align-items: bottom;
    gap:1.5rem;
    margin-top:2.25rem;
}


.hero-button-row button{
    font-size:1.5rem;
    padding:1rem 2.5rem;
    color:var(--clr-bg);
    border-radius:20px;
    border:none;
    transition: all 0.2s ease;
}



.hero-button1{
    background-color: var(--clr-blue);
    box-shadow: 0 4px 5px rgba(89,124,235,0.4);

}

.hero-button1:hover{
    box-shadow:0 6px 8px rgba(89,124,235,0.5);
}

.hero-button1:active{
    box-shadow: none;
    background-color: #4269E4 ;
}

.hero-button2{
background-color: var(--clr-purple);
box-shadow: 0px 4px 5px rgba(165,85,236,0.5);
}


.hero-button2:hover{
    box-shadow:0 6px 8px rgba(165,85,236,0.5);
}
.hero-button2:active{
    box-shadow:none;
    background-color: #8436C9;
}

.purplebob{
    height:fit-content;
    position: absolute;
    bottom:0;
    right:0;
    transform: translateY(50%);
    display:none;
}

.purplebob img{
    height:600px;
    z-index: 13;
}

.yellowbob{
    position:relative;
    top:0;
    left:0;
    z-index:5;
}

.origin{
    background-color: var(--clr-bg);
    overflow:hidden;
    padding-top:3.5rem;
    z-index: 10;
}
.origin-header{
    text-align:center;
    z-index:5;
}

.origin-header p{
    font-size: 1.5rem;
}
.origin-title{
    font-size:3.5rem;
    font-weight:bold;
}
.origin-title span{
    color:var(--clr-purple);
}

.origin-header p{
    font-size:1.875rem;
    font-weight:400;
    margin-top:0.2em;
    line-height:2.5rem;
}

.section {
    margin-top:5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.img-wrapper {
    max-width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
}

.card-img-container {
    width: 100%;
    height: 15rem;
    background-color: #FFFEF5;
    border-radius: 1.25rem;
    border: 1px solid #050C10;
    margin: 0 20px;
    transform: scale(0.8, 0.8);
    transition: transform 0.4s;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1.25rem;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
}

.card-text {
    width: 100%;
}

.card-text p { 
    text-align: center;
}

.slick-slide {
    opacity: 0.5;
    margin: 0 1rem;
}

.slick-current {
    opacity: 1;
    transform: scale(1);
}

.slick-list {
    margin: 0 -1rem;
}



.goals-and-plans{
    background-color: var(--clr-blue);
    width:100vw;
    display:flex;
    margin-top:2rem;
 
}

.goals-and-plans-container{
    margin-top:3rem;
    margin-left:auto;
    margin-right:auto;
    z-index:10;
}

.goals-and-plans-content{
    color:white;
}

.goals-and-plans-label{
    margin-top:1.5rem;
    font-size:1.3rem;
}

.goals-and-plans-title{
    margin-top:1.5rem;
    font-size:3.5rem;
}

.goals-and-plans-main{
    margin-top:1rem;
}

.goals-and-plans-categories{
    display:flex;
    flex-direction:column;

}

.collapsible{
    overflow:hidden;
    position:relative;
}

.collapsible-label span{
    margin-right:0.3em;
}

.collapsible label{
    position:relative;
    background-color:white;
    color:var(--clr-text);
    display:block;
    cursor:pointer;
    display:flex;
    padding:1em;
    border-radius:15px;
    z-index:1;
    transition:all 0.3s ease;
    border:1px solid black;
    width:auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.collapsible-label svg{
    width:25px;
    height:25px;
    border-radius:180px;
    float:right;
}
   





.collapsible-text{
    max-height:1px;
    overflow: hidden;
    padding:15px;
    border-radius:15px;
    line-height: 1.4;
    position:relative;
    opacity:0;
    width:auto;
    top:-40%;
    transition:all 0.3s ease;
    background-color: white;
    border:1px solid black;
    border-top:none;
    flex:1;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}



.collapsible input[type="checkbox"]:checked ~ .collapsible-text {
    max-height:fit-content;
    margin-bottom:2em;
    border-radius:0 0 15px 15px;
    opacity:1;
    top:0;
    left:0;
}

.collapsible input[type="checkbox"]:checked + .collapsible-label{
    border-radius: 15px 15px 0 0;
    border-bottom-color: rgba(0,0,0,0.4);
    box-shadow:none;
}
.collapsible input[type="checkbox"]:checked + .collapsible-label::after{
    opacity:0.3;
}


.collapsible input[type="checkbox"]:checked + .collapsible-label svg{
   transform: rotate(180deg);
}




.collapsible-text ul{
    padding: 0 2em;
}

.collapsible input{
    display:none;
}

.members-cards-container{
    margin-top:3rem;
    display:flex;
    flex-wrap:wrap;
    gap:2.5rem;
}
.members{
    background-color:var(--clr-bg);
    width:100vw;
}

.members-header{
    text-align:center;
    justify-content: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:4rem;
    border:2px solid red;
}
    
.members-header h1 span{
    background-image:linear-gradient(to right,var(--clr-blue),var(--clr-purple));
    background-clip: text;
    color:transparent;

}

.members-main{
    width:50ch;
    margin-top:1rem;
    margin-left:auto;
    margin-right:auto;

}

.members-cards-row1{
    display:flex;
    justify-content: space-evenly;
    width:70%;
    margin:0 auto;

}
.members-img{
    background-color: grey;
    height:70%;
    z-index: -1;
    border-radius: 20px 20px 0 0;
}
.members-cards{
    background-color: grey;
    height:300px;
    width:300px;
    border:1px solid var(--clr-text);
    border-radius:20px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
}



.members-img-bottom{
    background-color:var(--clr-bg);
    width:100%;
    height:30%;
    padding:15px;
    border-radius:0 0 20px 20px;

    overflow: hidden;
}
.members-img-bottom h3{
    text-transform:uppercase;
    letter-spacing: 1.8px;
    font-size:1.1rem;
    font-weight:400;
}
.members-img-bottom h4{
    margin-top:0.3rem;
    font-size:1.3rem;
    font-weight:600;

}

.members-cards-row2{
    display:flex;
    justify-content: space-evenly;
    margin-top:2rem;
    width:100%;
    border: 2px solid red;

}


.members-cards-row3, .members-cards-row4{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    border:3px solid red;
}
.members-img-rep{
    border:2px solid red;
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color: grey;
}

.members-cards-rep{
    padding:25px 15px;
    display:flex;
    gap:0.5rem;
    width:325px;
    border:1px solid var(--clr-text);
    border-radius:15px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.members-rep-img-bottom h3{
    text-transform: uppercase;
    margin-bottom:0.3rem;
    font-size:1.1rem;
    letter-spacing: 1.8px;
    font-weight: 400;
}

.members-rep-img-bottom h4{
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 600;
}





@media(width<=1536px){

    p{
        font-size:1.75rem;
    }
    
    h1{
        font-size:3rem;
    }
    .goals-and-plans{
        display:flex;
        justify-content:center;
    }


    
    


    

    .navbar{
        width:100%;
    }

    .goals-and-plans-main{
        text-align:left;
        width:25ch;
    }


 .hero-container ,.origin-header ,.goals-and-plans-container , .text-wrapper, .members-header, .members-cards-container{
        width:1280px;
    }


 
    .goals-and-plans-container{
        width:1280px;
        display:flex;
        justify-content: space-evenly;
    }

   

    .goals-and-plans-title{
        font-size:3.5rem;
    }

    .collapsible label{
        font-size: 1.5rem;
    }

    .collapsible-text{
        font-size:1.5rem;
    }



.collapsible label{
    font-size:1.5rem;
}
    .collapsible-label div{
        margin-left:5em;
        }

    .goals-and-plans-main{
        font-size:1.875rem;
    }

.members-cards, .members-cards-rep{
    width:300px;
}


}


@media(width<=1280px){
 .hero-container ,.origin-header ,.goals-and-plans-container , .text-wrapper, .members-header,  .members-cards-container{
    width:1024px;
    }
    .navbar{
        width:100%;
    }
    .goals-and-plans-container{
        max-width:1024px;
        justify-content: space-around;
    }
    .collapsible-label div{
        margin-left:2em;
    }

    .collapsible label{
        font-size:1.3rem;
    }
    .collapsible-text{
        font-size:1.3rem;
    }
    .goals-and-plans-title{
        font-size:3rem;
    }


.goals-and-plans-main{
    font-size:1.7rem;
}
}

@media (max-width:1024px){
 .hero-container ,.origin-header ,.goals-and-plans-container , .text-wrapper, .members-cards-container, .members-header{
        max-width:768px;
    }

    .goals-and-plans-title{
        font-size:3rem;
    }

    .collapsible label{
        font-size:0.9rem;
}

.collapsible-text{
    font-size:0.9em;
}


.goals-and-plans-main{
    font-size:1.3rem;
}

.goals-and-plans-text{
    max-height:0.1px;
}
.members-cards, .members-cards-rep{
    width:230px;
}

.members-cards{
    height:250px;
}

.members-cards-container h4{
    font-size:0.9rem;

}
.members-cards-container h3{
    font-size: 0.875rem;

}

.members-header p{
    font-size:1.5rem;
    width:auto;
}
}


@media (width<=768px){
    .goals-and-plans-container, .text-wrapper,.members-header{
        max-width:640px;
        
    }

    .goals-and-plans-title{
        font-size:2.5rem;
    }

    .collapsible label{
        font-size:1em;
}

.collapsible-text{
    font-size:1rem;
}

.goals-and-plans-main{
    font-size:1rem;
}

.goals-and-plans-text{
    max-height:0.1px;
}

}


@media (width<=640px){
    .goals-and-plans-container ,.text-wrapper ,.members-cards-container, .members-header{
        max-width:475px;
        flex-direction:column;
}

.goals-and-plans-main {
    width:auto;
}

.goals-and-plans-categories{
    margin-top:2.5rem;
}

.collapsible-label{
    display:flex;
    justify-content:space-between ;
}

.collapsible-label svg{
    display:flex;
    justify-content: end;
    float:right;
}
.purplebob{
    display:none;
    visibility:hidden;

}
.members-cards-row1, .members-cards-row2, .members-cards-row3, .members-cards-row4{
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.members-cards-row1,.members-cards-row2{
    gap:2.2rem;
}
.members-cards-row2{
    margin-top:0;
}
.members-cards-row3, .members-cards-row4{
    gap:1.3rem;
}

.members-container h3{
    font-size:0.72rem;
}
}

@media( width<=475px){
    .goals-and-plans-container, .text-wrapper, .members-cards-container,.members-header{
        width:100%;
    }
    .members-img-rep{
        width:40px;
        height:40px;
    }
}
