
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"cabin";
    scroll-behavior: smooth;
}


:root{
    --clr-yellow:#F7CF1C;
    --clr-blue:#597CEB;
    --clr-purple:#A555EC;
    --clr-text:#050C10;
    --clr-bg:#FFFEF5;    


}



.darkmode{
    --clr-text:#EFF6FA;
    --clr-bg:#0A0900;
    --clr-blue:#1436A3;
    --clr-yellow:#E2BA08;
    --clr-purple:#6313AA;

}

html::-webkit-scrollbar{
    display:none;
}

html{
    background-color:var(--clr-bg);
}



.navbar, .hero-container ,.origin-header,.goals-and-plans-container, .members-header , .members-cards-container {
    margin-left:auto;
    margin-right:auto;
    padding-left:0.5rem;
    padding-right:0.5rem;  
}

.hero{
    width:100vw;
    background-color: var(--clr-bg);
}

.logo{
    opacity:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo svg{
    transform: scale(1.5);
}
.navbar-container{
    border-bottom:2px solid var(--clr-text);
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:2rem 0;

}



.navlinks{
display:flex;
    align-items:center;
}

.nav-right{
    display:flex;
}


.navbar a{
    font:cabin;
    text-decoration: none;
    color:var(--clr-text);
    font-size: 1.5rem;
    text-transform:lowercase;
}

.navbutton{
    background-color: transparent;
    border:1px solid var(--clr-text);
    border-radius:180px;
    margin-left:1.5em;
    padding:0.5rem 0.5rem 0.3rem 0.5rem;
    transition:all 0.3s ease;
    display:flex;

}
.navbutton svg{
    width:30px;
    height:30px;
}

.navbutton:hover{
    box-shadow:0 3px 5px rgba(0,0,0,0.2);
}

.hamburger{
    display:none;
    cursor:pointer;
}

.bar{
    display:block;
    width:25px;
    height:5px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: var(--clr-text);
}
.blob-bg{
    background-image:url(light_mode/blob-bg2.jpg);
    background-size:100% 100%;
    background-position: top;
    background-repeat:no-repeat;
    background-attachment: scroll;
    padding-top:10rem;
    background-color: var(--clr-bg);

}

.hero-container{
    display:flex;
    justify-content: center;
}
.hero-content{

    text-align:center;
}


.hero-text{
    margin-top:0.5rem;
    line-height:2rem;
}

.hero-button-row{
    display:flex;
    justify-content: center;
    align-items: bottom;
    gap:1.5rem;
    margin-top:2.25rem;
    margin-bottom:3rem;
}


.hero-button-row button{
    font-size:1.5rem;
    padding:1rem 2.5rem;
    color:var(--clr-bg);
    border-radius:20px;
    border:none;
    transition: all 0.2s ease;
}



.hero-button1{
    background-color: var(--clr-blue);
    box-shadow: 0 4px 5px rgba(89,124,235,0.4);

}

.hero-button1:hover{
    box-shadow:0 6px 8px rgba(89,124,235,0.5);
}

.hero-button1:active{
    box-shadow: none;
    background-color: #4269E4 ;
}

.hero-button2{
background-color: var(--clr-purple);
box-shadow: 0px 4px 5px rgba(165,85,236,0.5);
}


.hero-button2:hover{
    box-shadow:0 6px 8px rgba(165,85,236,0.5);
}
.hero-button2:active{
    box-shadow:none;
    background-color: #8436C9;
}

.origin{
    padding-top:3rem;
}
.origin-header{
    text-align:center;
    margin-top:3rem;
}

.origin-title{
    font-weight:bold;
}
.origin-title span{
    color:var(--clr-purple);
}

.origin-header p{
    font-weight:400;
    margin-top:0.2em;
    line-height:2.5rem;
}

.section {
    margin-top:5rem;
    padding-bottom:4rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.img-wrapper {
    max-width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
}

.card-img-container {
    width: 100%;
    height: 15rem;
    background-color: #FFFEF5;
    border-radius: 1.25rem;
    border: 1px solid #050C10;
    margin: 0 20px;
    transform: scale(0.8, 0.8);
    transition: transform 0.4s;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1.25rem;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
}

.card-text {
    width:50%;
    padding:0 auto;
}

.card-text p { 
    text-align: center;
    margin:auto;
    max-width:30ch;
}

.slick-slide {
    opacity: 0.5;
    margin: 0 1rem;
}

.slick-current {
    opacity: 1;
    transform: scale(1);
}

.slick-list {
    margin: 0 -1rem;
}



.goals-and-plans{
    padding-bottom:3rem;
    background-color: var(--clr-blue);
    width:100vw;
    display:flex;
}

.goals-and-plans-container{
    margin-top:3rem;
    margin-left:auto;
    margin-right:auto;
}

.goals-and-plans-content{
    color:white;
}

.goals-and-plans-label{
    margin-top:1.5rem;
}

.goals-and-plans-title{
    margin-top:1.5rem;
}

.goals-and-plans-main{
    margin-top:1rem;
}

.goals-and-plans-categories{
    display:flex;
    flex-direction:column;

}

.collapsible{
    overflow:hidden;
    position:relative;
}

.collapsible-label span{
    margin-right:0.3em;
}

.collapsible label{
    position:relative;
    background-color:white;
    color:var(--clr-text);
    display:block;
    cursor:pointer;
    display:flex;
    padding:1em;
    border-radius:15px;
    transition:all 0.3s ease;
    border:1px solid var(--clr-text);
    width:auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}

.collapsible-label svg{
    width:25px;
    height:25px;
    border-radius:180px;
    float:right;
}
   





.collapsible-text{
    max-height:1px;
    overflow: hidden;
    padding:15px;
    border-radius:15px;
    line-height: 1.4;
    position:relative;
    opacity:0;
    width:auto;
    top:-30%;
    transition:all 0.4s ease;
    background-color: white;
    border:1px solid var(--clr-text);
    border-top:none;
    flex:1;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}



.collapsible input[type="checkbox"]:checked ~ .collapsible-text {
    max-height:fit-content;
    margin-bottom:2em;
    border-radius:0 0 15px 15px;
    opacity:1;
    top:0;
    left:0;
}

.collapsible input[type="checkbox"]:checked + .collapsible-label{
    border-radius: 15px 15px 0 0;
    border-bottom-color: rgba(0,0,0,0.4);
    box-shadow:none;
}
.collapsible input[type="checkbox"]:checked + .collapsible-label::after{
    opacity:0.3;
}


.collapsible input[type="checkbox"]:checked + .collapsible-label svg{
   transform: rotate(180deg);
}




.collapsible-text ul{
    padding: 0 2em;
}

.collapsible input{
    display:none;
}

.members-cards-container{
    margin-top:3rem;
    display:flex;
    flex-direction:column;
    gap:2.5rem;
}
.members{
    background-color:var(--clr-bg);
    width:100vw;
    padding-top:4rem;
}

.members-header{
    text-align:center;
    justify-content: flex;
    justify-content: center;
    flex-direction: column;
}
    
.members-header h1 span{
    background-image:linear-gradient(to right,var(--clr-blue),var(--clr-purple));
    background-clip: text;
    color:transparent;

}

.members-main{
    width:50ch;
    margin-top:1rem;
    margin-left:auto;
    margin-right:auto;

}
.members-cards-container a{
    text-decoration: none;
    color:var(--clr-text);

}
.members-cards-row1{
    display:flex;
    justify-content: space-evenly;
    width:70%;
    margin:0 auto;

}
.members-img{
    background-color: grey;
    height:70%;
    border-radius: 20px 20px 0 0;
}
.members-cards{
    background-color: grey;
    height:300px;
    width:300px;
    border:1px solid var(--clr-text);
    border-radius:20px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 0.2s ease;
    transition-timing-function: cubic-bezier(0.68, -0.5, 0.265, 2);
}



.members-img-bottom{
    background-color:var(--clr-bg);
    width:100%;
    height:30%;
    padding:15px;
    border-radius:0 0 20px 20px;

    overflow: hidden;
}
.members-img-bottom h3{
    text-transform:uppercase;
    letter-spacing: 1.8px;
    font-size:1.1rem;
    font-weight:400;
}
.members-img-bottom h4{
    margin-top:0.3rem;
    font-size:1.3rem;
    font-weight:600;

}

.members-cards-row2{
    display:flex;
    justify-content: space-evenly;
    margin-top:2rem;
    width:100%;

}


.members-cards-row3, .members-cards-row4{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}
.members-img-rep{
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color: grey;
}

.members-cards-rep{
    padding:25px 15px;
    display:flex;
    gap:0.5rem;
    width:325px;
    border:1px solid var(--clr-text);
    border-radius:15px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition:all 0.2s ;
}

.members-cards:hover{
transform:rotate(-2deg);
}

.members-cards-rep:hover{
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.6);
    transform:scale(1.005);
}

.members-cards:active {
    transform:rotate(-2deg);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
}
.members-cards-rep:active{
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
    transform:scale(0.995);
}
.members-rep-img-bottom h3{
    text-transform: uppercase;
    margin-bottom:0.3rem;
    font-size:1.1rem;
    letter-spacing: 1.8px;
    font-weight: 400;
}

.members-rep-img-bottom h4{
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 600;
}

.members-header p{
    font-size:1.8rem;
}


footer{
    background-color: var(--clr-yellow);
    padding:1.5rem 0;
    text-align: center;
    border-top:1px solid var(--clr-text);
}



@media(width<=1536px){

    p{
        font-size:1.75rem;
    }
    
    h1{
        font-size:4rem;
    }
    .nav-menu{
        display: flex;
        gap:1.5em;
        list-style:none;
    }
    .navbutton p{
        display:none;
    }
    .hero-text p{
        width:40ch;
    }

    .hero-button-row button{
        font-size:1.5rem;
    }
    .goals-and-plans{
        display:flex;
        justify-content:center;
    }

    .goals-and-plans-main{
        text-align:left;
        width:25ch;
    }


 .navbar,.origin-header, .hero-container  ,.goals-and-plans-container , .text-wrapper, .members-header, .members-cards-container{
        width:1280px;
    }




.members-cards-container{
    padding:4.5rem 0;
}

 
    .goals-and-plans-container{
        width:1280px;
        display:flex;
        justify-content: space-evenly;
    }

   

    .goals-and-plans-title{
        font-size:3.5rem;
    }

    .collapsible label{
        font-size: 1.5rem;
    }

    .collapsible-text{
        font-size:1.5rem;
    }




    .collapsible-label div{
        margin-left:5em;
        }

    .goals-and-plans-main{
        font-size:1.875rem;
    }

.members-cards, .members-cards-rep{
    width:300px;
}
.members-container h4{
    font-weight:600;
}



}


@media(width<=1280px){
    .navbar, .hero-container ,.origin-header ,.goals-and-plans-container , .text-wrapper, .members-header,  .members-cards-container{
    width:1024px;
    }

    .goals-and-plans-container{
        max-width:1024px;
        justify-content: space-around;
    }
    .collapsible-label div{
        margin-left:2em;
    }

    .collapsible label{
        font-size:1.3rem;
    }
    .collapsible-text{
        font-size:1.3rem;
    }
    .goals-and-plans-title{
        font-size:3rem;
    }


.goals-and-plans-main{
    font-size:1.7rem;
}
}

@media (max-width:1024px){
    p{
        font-size:1.5rem;
    }
    
    h1{
        font-size:3rem;
    }
    .navbar, .hero-container ,.origin-header ,.goals-and-plans-container , .text-wrapper, .members-cards-container, .members-header{
        max-width:768px;
    }

    .goals-and-plans-title{
        font-size:3rem;
    }

    .collapsible label{
        font-size:1.1rem;
}

.collapsible-text{
    font-size:1.1em;
}


.goals-and-plans-main{
    font-size:1.3rem;
}

.goals-and-plans-text{
    max-height:0.1px;
}
.members-cards, .members-cards-rep{
    width:230px;
}

.members-cards{
    height:250px;
}

.members-cards h4{
    font-size:0.9rem;

}
.members-cards h3{
    font-size: 0.875rem;

}

.members-rep-img-bottom h3{
    font-size: 0.7rem;
}

.members-rep-img-bottom h4{
    margin-top:0.5rem;
    font-size:0.85rem;
}

.members-header p{
    font-size:1.6rem;
    width:auto;
}



}

/* enter tablet */
@media (width<=768px){
   

    .navbar,.goals-and-plans-container, .text-wrapper,.members-header,.members-cards-container, .hero-container,.origin-header{
        max-width:640px;

    }

    .goals-and-plans-title{
        font-size:2.5rem;
    }


.collapsible-label{
    font-size:0.9em;
}
.collapsible-text{
    font-size:0.9em;
}

.goals-and-plans-main{
    font-size:1rem;
}

.goals-and-plans-text{
    max-height:0.1px;
}

.members-cards,.members-cards-rep{
    height:fit-content;
}
.members-cards-row1, .members-cards-row2, .members-cards-row3, .members-cards-row4{
    justify-content:center;
    gap:1.5rem;
padding:0;
}

.members-cards{
    height:250px;
}
.members-cards-rep{
    padding:15px 15px;

}
.members-cards h4{
    font-size:0.86rem;
    font-weight: 500;
    margin-top:0.3rem;
}
.members-cards h3{
    font-size: 0.8rem;
}
.members-img-rep{
    width:30px;
    height:30px;
}
.members-rep-img-bottom h3{
    font-size:0.55rem;
}

.members-rep-img-bottom h4{
    font-size:0.75rem;
}
.members-header p{
    font-size:1.3rem;
}



}

@media (width<=640px){
    p{
        font-size:1.2rem;
    }
    
    h1{
        font-size:2.6rem;
    }
     .goals-and-plans-container ,.text-wrapper ,.members-cards-container, .members-header,.hero-container,.hero-content, .origin-header{
        max-width:475px;
        flex-direction:column;

    
}

.navbar{
    max-width:475px;
}
.hero-button-row{
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.hero-button-row button{
    font-size:1.3rem;
    width:200px;
}
.goals-and-plans-main {
    width:auto;
}

.goals-and-plans-categories{
    margin-top:2.5rem;
}

.collapsible-label{
    display:flex;
    justify-content:space-between ;
}

.collapsible-label svg{
    display:flex;
    justify-content: end;
    float:right;
}
.purplebob{
    display:none;
    visibility:hidden;

}
.members-cards-row1, .members-cards-row2, .members-cards-row3, .members-cards-row4{
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.members-cards-row1,.members-cards-row2{
    gap:2.2rem;
}
.members-cards-row2{
    margin-top:0;
}
.members-cards-row3, .members-cards-row4{
    gap:1.3rem;
}
.members-container h3{
    font-size:0.72rem;
}

.members-container h4{
    font-size:1rem;
}
.hamburger{
    display:block;
    z-index:101;
}

.hamburger.active .bar:nth-child(2){
    opacity:0;
}

.hamburger.active .bar:nth-child(1){
    transform:translateY(10px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform:translateY(-10px) rotate(-45deg);
}
.body.active{
    height:100vh;
    overflow:hidden;
}
.logo.active{
opacity:0;
   transition:all 0.3s ease;
}
.navlinks{
    position:absolute;
    top:17%;
right:0;
    gap:0;
    opacity:0;
    transition:0.3s ;
    width:100%;
    height:100%;
}

.origin-link{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgba(247 , 207 , 28,0.4);
    height:100px;
}

.goals-and-plans-link{
    display:flex;
    align-items:center;
    justify-content:center;
    background: rgba(89,124,235,0.4);
    height:100px;
}

.members-link{
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(165,85,236,0.4);
    height:100px;
}

.navlinks, .nav-menu{
    flex-direction:column;
    width:100%;
    text-align: center;
    background-color: var(--clr-bg);
    column-gap:0;
}

.navbutton{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:2rem 0;
    gap:0.5rem;
    padding:1em;
    background-color:var(--clr-text);
    color:var(--clr-bg);
    height:auto;
    border-radius:20px;
}

.navbutton svg{
    width:30px;
    height:30px;
}

.navbutton p{
    display:block;
}

.navlinks li{
    padding:1.2rem 0;
}

.navlinks.active{
    z-index:100;
    column-gap:0;
    opacity:1;
}
.navbar ul{
    gap:0;
}



}




@media( width<=475px){
    .navbar,.goals-and-plans-container, .text-wrapper, .members-cards-container,.members-header,.hero-container,.origin-header{
        width:100%;
    }
    .members-img-rep{
        width:40px;
        height:40px;
    }

    .members-cards, .members-cards-rep{
        width:250px;
    }
    .members-main{
        font-size:0.9rem;
    }
    footer p{
        font-size: 1rem;
    }

    .hero-text p{
        width:auto;
    }

    footer {
        line-height:1.5rem;
    }


}
